body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.light-mode {
    background-color: #ffffff; 
    color: #000000; 
  }
  
  .dark-mode {
    background-color: #191414; /* monty */
    color: #ffffff; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  