body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: inherit;
}

.light-mode {
    background-color: #ffffff; 
    color: #000000; 
  }
  
  .dark-mode {
    background-color: #000000; 
    height: 1000px;
    color: #ffffff; 
  }
  